body{

text-align:center;
font-family:Arial;

background:linear-gradient(90deg,#ffcc00,#ff5733,#ffcc00);

}

#track{

width:100%;
overflow-x:auto;

}

.lane{

min-width:1500px;
height:120px;
border-bottom:2px dashed gray;
position:relative;

}

.start{

position:absolute;
left:0;
width:6px;
background:green;
top:0;
bottom:0;

}

.finish{

position:absolute;
right:0;
width:6px;
background:red;
top:0;
bottom:0;

}

.elephant{

position:absolute;
top:40px;
font-size:60px;
transform:scaleX(-1);
transition:left 0.1s linear;

}

button{

font-size:22px;
padding:16px 26px;
margin:10px;
border:none;
border-radius:10px;
background:#ff6b00;
color:white;
touch-action:manipulation;

}

.lane span{

font-size:20px;
font-weight:bold;

}

#fireworks{

position:fixed;
top:0;
left:0;
pointer-events:none;

}